/* Reset de CSS */

* {
    margin: 0;
    padding: 0;
}

/* selector < clase < id */

/*************** INDEX ***************/

/* FA */
h1 {
    font-family: "Funnel Display", sans-serif;
}

h2 {
    font-family: "Funnel Display", sans-serif;
}

p {
    font-family: "Funnel Display", sans-serif;
}


.left-button {
    font-family: "Funnel Display", sans-serif;
    background-image: url(../img/boton_islide.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: transparent;
    border: none; 
    width: 80px; 
    height: 80px; 
    cursor: pointer;
    padding: 0;
}

.right-button {
    font-family: "Funnel Display", sans-serif;
    background-image: url(../img/boton_dslide.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: transparent;
    border: none; 
    width: 80px; 
    height: 80px; 
    cursor: pointer;
    padding: 0;
}

/* Header */

.headmain {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.header {
    background-color: black;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.header .header-icons img {
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
}

.header .logo a img {
    width: 120px;
    height: 120px;
    object-fit: fill;
}

.header .barra-busqueda {
    display: flex;
    flex: 1;
    margin: 0 20px;
}

.header .barra-busqueda input {
    flex: 1;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 40px 0 0 40px;
    font-size: 16px;
    outline: none;
    font-family: "Funnel Display", sans-serif;
}

.header .barra-busqueda button {
    width: 50px;
    height: auto;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .barra-busqueda button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.menu {
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ddddddb2;
    border-bottom:  1px solid #ddddddb2;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #444;
    color: #fff;
}

@media (max-width: 768px) {
    .header .logo a img {
      width: 80px;
      height: 80px;
    }
  
    .header .barra-busqueda {
      width: 15%;
    }
  
    .header .header-icons img {
      width: 30px;
      height: 30px;
    }
  
    .menu ul li a {
      font-size: 18px;
    }
  }

/* MAIN */

main {
    padding: 0px;
}

/* Seccion de Informacion*/

.info {
    margin-left: 0;
    margin-right: 0;
}

.carousel-item img {
    height: 75vh;
    width: 100%;
    object-fit: fill;
}

/* Seccion de destacados */

.destacados {
    display: flex;
    align-items: baseline;
    position: relative;
    padding: 20px;
    background-color: #666060; /*#f9f9f9*/
    max-width: 100%;
}

.destacados h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

/*
Intento de carrusel por mí parte. Fallido.
*/

.destacados .destacados-box .productos {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    flex: 1;
}

.destacados .destacados-box .productos .producto {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 220px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-shrink: 0;
}

.destacados .destacados-box .productos .producto img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.destacados .destacados-box .productos .producto .nombre-prenda {
    font-size: 1em;
    margin: 10px 0;
    font-weight: 500;
    color: #333;
}

.productos .producto .precio-prenda {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}


/* Sección de etiquetas */

/* Flexbox de etiquetas*/
.etiquetas {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}

.etiquetas-item {
    flex-basis: 32%;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: #666060;
}

.etiquetas-item img {
    display: flex;
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: auto;
    display: block;
}

.etiquetas-item p {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 5px 10px;
    font-size: 3rem;
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: rgba(204, 203, 203, 0.815);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Contenedor para las primeras secciones */
footer .bloque-superior {
    display: flex;
    flex-flow: column;
    gap: 20px;
    flex: 1;
}

/* Contenedor para los métodos de pago y envío */
footer .metodos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

/* Títulos */
footer h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Lista de categorías */
.footer-nav ul {
    list-style-type: none; /* Quita los puntos de las listas */
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    margin: 10px 0; /* Espaciado entre los elementos */
}

.footer-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

footer .bloque-superior div a{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Estilo para imágenes */
footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*************** PRODUCTO ***************/

/* Estilo para las miniaturas */
.img-thumbnail {
    border: 2px solid #000;
    cursor: pointer;
    width: 100px;
    height: auto;
    transition: border-color 0.3s ease;
}

.img-thumbnail:hover {
    border-color: #666;
}

/* Estilo para la imagen principal */
.zoom-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: auto;
    cursor: zoom-in;
}

.zoom-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

/* Efecto de zoom */
.zoom-container:hover .zoom-image {
    transform: scale(1.5);
}

button:focus {
    outline: none;
    box-shadow: none;
}
