.headmain {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    padding: 5px 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-icons {
        img {
            padding: 5px;
            width: 40px;
            height: 40px;
            margin-left: 30px;
            cursor: pointer;
            outline: none;
            transition: transform 0.3s ease, filter 0.3s ease;

            &:hover {
                transform: scale(1.1);
                filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
            }
        }

        a {
            text-decoration: none;
            outline: none;
        }
    }

    .logo a img {
        width: 100px;
        height: 100px;
        object-fit: fill;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .barra-busqueda {
        display: flex;
        flex: 1;
        margin: 0 20px;

        input {
            flex: 1;
            padding: 12px 16px;
            border: 1px solid #ccc;
            border-right: none;
            border-radius: 40px 0 0 40px;
            font-size: 16px;
            outline: none;
            font-family: "Funnel Display", sans-serif;
        }

        button {
            width: 50px;
            height: auto;
            border: 1px solid #ccc;
            border-left: none;
            background-color: #fff;
            border-radius: 0 40px 40px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
    }
}

.navbar-nav {
    --bs-nav-link-color: white;
}

.navbar-dark {
    border-top: 1px solid #ffffff63;
}

.nav-item {
    .nav-link {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        transition: color 0.3s ease, text-shadow 0.3s ease;

        &:hover {
            color: #fff;
            text-shadow: 0 0 10px #fff, 0 0 20px #fff;
        }
    }
}